body {
    background-color: burlywood;
    margin-left: 10%;
    margin-right: 10%;
}
header {
    background-color: #ac7339;
    background-image: url("header-coffee-tasting.jpg");
}
nav {
    background-color: #996633;
}
main {
    background-color: #996633;
}
footer{
    background-color: #604020;
}