body {
    background-color: burlywood;
    margin-left: 10%;
    margin-right: 10%;
}
header {
    background-color: #ac7339;
    background-image: url("header-coffee-tasting.jpg");
    width: 100%;
    height: 100px;
    box-sizing: content-box;
}
nav {
    background-color: #ac7339;
}
main {
    background-color: #996633;
    position: absolute;
    height: 100%;
    margin-right: 10%;
}
footer{
    background-color: #604020;
    clear: both;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 10%;
    margin-right: 10%;
}