body {
    background-color: burlywood;
}
header {
    background-color: #ac7339;
}
nav {
    background-color: #996633;
}
main {
    background-color: #996633;
}
footer{
    background-color: #604020;
}